<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>contact us input page</title>
    </head>
    <body>
        <main>
            <form action="/contact-us" method="POST">
                <label for="name">enter the user name:</label
                ><input
                    type="text"
                    id="name"
                    name="username"
                    placeholder="enter the username here"
                /><label for="email">enter your email :</label
                ><input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="user email"
                />
                <button>sumbit</button>
            </form>
        </main>
    </body>
</html>
